#images-container {
  visibility: hidden;
  opacity: 0;
  display: none;
  justify-content: space-evenly;
  gap: 20px;
  transition: visibility 0s, opacity 0.3s linear;
}

.image p {
  text-align: center;
  font-size: 20px;
}